.channel {
	display: flex;
	align-items: center;
	padding: 8px 15px;
	gap: 7px;
	color: gray;
	cursor: pointer;
	border-top: 1px solid #2f3135;
	border-bottom: 1px solid #2f3135;
}

.channel:hover {
	background-color: #474b53;
	color: white;
}

.channelActive {
	background-color: #474b53;
	color: lightgray;
}

.channel__hash {
	font-size: 19px;
	font-weight: 700;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.deleteIcon {
	opacity: 0;
	font-size: 20px;
}

.container:hover .deleteIcon {
	color: lightgray;
	opacity: 1;
}
.deleteIcon:hover {
	opacity: 1;
	color: rgb(139, 17, 17) !important;
}

.channel__name {
	font-size: 12px;
	font-weight: 700;
}

@media (min-width: 768px) {
	.channel__hash {
		font-size: 29px;
	}

	.channel__name {
		font-size: 16px;
	}

	.channel {
		padding: 8px 25px;
	}

	.deleteIcon {
		font-size: 25px;
	}
}
