.channel {
	display: flex;
	align-items: center;
	padding: 8px 15px;
	gap: 7px;
	color: gray;
	cursor: pointer;
}

.channel__hash {
	font-size: 19px;
	font-weight: 700;
}

.channel__name {
	font-size: 12px;
	font-weight: 700;
}

.channel:hover {
	background-color: #363a3f;
	color: white;
}

@media (min-width: 768px) {
	.channel__hash {
		font-size: 29px;
	}

	.channel__name {
		font-size: 16px;
	}

	.channel {
		padding: 8px 25px;
	}
}
