.message {
	padding: 20px 10px;
	border-top: 1px solid rgb(85, 85, 85);
	border-bottom: 1px solid rgb(85, 85, 85);
	display: grid;
	align-items: center;
	grid-template-columns: 50px 80%;
	grid-template-areas:
		'image nameTime'
		' image message';
}

.image {
	font-size: 40px !important;
	grid-area: image;
}

.nameAndTime {
	display: flex;
	align-items: center;
	gap: 20px;
	grid-area: nameTime;
}
.time {
	font-size: 14px;
}

.messageText {
	grid-area: message;
	margin-top: 7px;
	width: 100%;
	font-size: 12px;
}

@media (min-width: 1024px) {
	.message {
		grid-template-columns: 70px 95%;
	}

	.image {
		font-size: 50px !important;
	}

	.messageText {
		font-size: 16px;
	}
}
