.userSettingsContainer {
	position: absolute;
	bottom: 40px;
	right: -8px;
	background-color: #202225;
	z-index: 10;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
}

.userSettingsContainer button:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.userSettingsContainer button:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.btn {
	z-index: 10;
	height: 50px;
	width: 150px;
	padding: 10px 20px;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	text-align: left;
	font-size: 12px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}

@media (min-width: 768px) {
	.btn {
		font-size: 16px;
		width: 190px;
	}
}

.btn:hover {
	background-color: #35383c;
}

.userSettingsContainer :not(:last-of-type) {
	border-bottom: 1px solid rgb(82, 82, 82);
}

.containerArrow {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: #202225;
	bottom: -6px;
	right: 10px;
	transform: rotate(45deg);
	z-index: 0;
}
