.container {
	position: fixed;
	top: 150px;
	left: 15%;
	z-index: 999 !important;
	width: 300px;
	padding: 30px;
	background-color: #202225;
	border-radius: 7px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.container {
		left: 30%;
	}
}

@media (min-width: 1280px) {
	.container {
		left: 40%;
	}
}

.container > form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 50px;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container > form > label {
	font-weight: 600;
	justify-self: flex-start;
	font-size: 18px;
}

.container > form > input {
	background-color: #2f3135;
	border: none;
	outline: none;
	border-radius: 7px;
	height: 40px;
	width: 80%;
	padding: 0 20px;
	color: white;
	font-size: 16px;
}

.container > form > button {
	background-color: #009e57;
	border: none;
	width: 200px;
	height: 40px;
	border-radius: 7px;
	font-weight: 600;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}

.container > form > button:hover {
	background-color: #026d3d;
}

.closeBtn {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 18px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 250ms ease-in-out;
	cursor: pointer;
}

.closeBtn:hover {
	background-color: #555659;
}

.chromePicker {
	background-color: #363a3f !important;
	color: white !important;
	box-shadow: none !important;
	border-radius: 7px !important;
}

.chromePicker input {
	background-color: #2f3135 !important;
	box-shadow: none !important;
	border-radius: 7px !important;
	color: white !important;
}

.chromePicker * svg {
	color: white !important;
}

@media (min-width: 1280px) {
	.chromePicker {
		width: 100% !important;
	}
}
