.welcome {
	color: lightgray;
	left: 65%;
	top: 50%;
	transform: translate(-50%, -65%);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 50px;
	position: fixed;
	z-index: 9999;
	white-space: nowrap;
}

.welcome > h1 {
	font-size: 20px;
}

.boxContainer {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.box {
	display: flex;
	justify-content: space-between;
	width: 200px;
	background-color: #2f3135;
	height: 30px;
	align-items: center;
	border-radius: 7px;
	padding: 20px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
}

.box:hover {
	background-color: #7289da;
}

.icon {
	font-size: 20px !important;
}

.box > p {
	transition: all 250ms ease-in-out;
	color: white;
	font-weight: 500;
	font-size: 14px;
}

.box > .arrow {
	opacity: 0;
	transition: all 250ms ease-in-out;
}

.box:hover .arrow {
	padding-left: 20px;
	opacity: 1;
}

@media (min-width: 768px) {
	.welcome {
		gap: 70px;
	}
	.welcome > h1 {
		font-size: 25px;
	}
	.box {
		width: 300px;
		height: 40px;
		padding: 20px;
	}

	.box > p {
		font-size: 16px;
	}

	.icon {
		font-size: 25px !important;
	}
}

@media (min-width: 1280px) {
	.welcome {
		left: 60%;
		top: 50%;
		transform: translate(-50%, -60%);
	}

	.welcome > h1 {
		font-size: 30px;
	}

	.box {
		width: 400px;
		height: 50px;
	}

	.box > p {
		font-size: 18px;
	}

	.icon {
		font-size: 30px !important;
	}
}
